*{
    font-family: 'Overpass', sans-serif;

}
.navbar-brand{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 550;
}

nav{
    height: 80px;
    font-family: 'Teko';
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(26, 26, 26, 0.9), rgba(26, 26, 26, 0.9));
}

a.nav-link{
    padding: 5px;
    border: 5px solid transparent;
    font-family: 'Teko','Lucida Grande';
    font-size: 20px;
}
a.nav-link:hover, a.nav-link:active{
    border-bottom: 5px solid #ff9430;
    transition: .5s ease-in-out;
    color: white;
}
.app-btn{
    background-color: transparent;
    border: 1px solid #ff9430;
    align-items: center;
    border-radius: 10px;
    color: #ff9430;
    padding: 0px 20px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
.app-btn:hover{
    background-color: #ff9430;
    color: white;
    transition: .5s ease-in;
}
.offcanvas-footer{
    position: absolute;
    bottom: 10px;
    border-top: 2px solid #ffffff8c;
    padding-top: 20px;
    width: 90%;
    margin-right:10px;
}
.offcanvas-footer i{
    margin-left: 5px;
}
.offcanvas-footer i:hover{
    color: #ff9430;

}
a.footer-icons {
    text-decoration: none;
    color: #ffffff8c;
}
header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/land-img.png);
    background-size: cover;
    align-items: center;
    background-position: top left;
}
.landing-text{
    font-family: 'Overpass', sans-serif;
    padding-top: 200px;
    width: 60%;
    color: white;
}
.landing-text h1{
    font-weight: bolder;
    font-family: 'Overpass', sans-serif;
}
.landing-img{
    display: flex;
    float: right;
}
.landing-img img{
    border-radius: 48%;
}
.landing-btn{
    background-color: transparent;
    color: #ff9430;
    border: 2px solid #ff9430;
    margin-top: 10px;
    padding: 10px;
}
.landing-btn:hover{
    background-color: #ff7a21;
    color: white;
    transition: .3s ease-in;
}
.main-color{
    color: #ff9430;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#services .card{
    margin: 2rem;
    cursor: pointer;
}
img.card-img-top:hover{
    filter: contrast(50%);
    transition: .5s ease-in;
    
}
#about{
    padding: 50px 0px;
    background-image: linear-gradient(to bottom,white,transparent, transparent, transparent, white), url(https://previews.123rf.com/images/annapoguliaeva/annapoguliaeva1409/annapoguliaeva140900019/31328782-concept-seamless-pattern-with-snowflakes-light-winter-background-it-can-be-used-for-wallpaper-patter.jpg);
    background-size: contain;

}
#about img{
    box-shadow: 2px 2px 15px;
}
#gallery{
    margin-top: 30px;
}
.gallery{
    margin-top: 30px;
    padding-top: 5vh;
    border-top: 2px solid #0000008c;
    align-items: center;
    border-bottom: 2px solid #0000008c;
    padding-bottom: 5vh;
    margin-bottom: 30px;
}
.gallery img{
    padding: 10px;
    box-shadow: 0px 2px 5px dimgray;
    margin-bottom: 10px;
}
.products{

}
.product{
    margin: 10px;
}
footer{
    height: 200px;
    background-color: #2e2f35e1;
    color: white;
}
p.credit-text{
    position: absolute;
    left: 30%;
    right: 30%;
    border-top: 2px dotted #ffffff8c;

}









.slider{
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider .slide{
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
}
.slider .item{
    margin-top: 10px;
}
.slider .item:last-child{
    margin-right: 0;
}
.ctrl{
    text-align: center;
    margin-top: 5px;
}
.ctrl-btn{
    padding: 20px 20px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: center;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
}
.ctrl-btn .pro-prev{
    left: 0;
}
.ctrl-btn .pro-next{
    right: 0;
}





/* small screen css  */
@media screen and (max-width: 990px){
    .landing-text{
        width: 100%;
    }
    .app-btn{
        width: 100%;
        padding: 10px 0px;
        justify-content: center;
        margin-bottom: 50px;
    }
    .offcanvas{
        background-image: linear-gradient(rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8));
        color: white;
    }
}


/* svg link  */
.custom-shape-divider-bottom-1676402224 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1676402224 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1676402224 .shape-fill {
    fill: #fff;
}
/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1676402224 svg {
        width: calc(180% + 1.3px);
        height: 58px;
    }
}
/* svg link end */



@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Teko&display=swap');